.events {
  width: 50%;
  margin: 0 auto;
}

.events p {
  color: white;
}

.events li {
  color: white;
}

.events .flex {
  display: flex;
  justify-content: space-between;
}

.events .flex div {
  width: 50%;
}

.dates {
  text-align: center;
}

.dates ul {
  padding: 0;
}

.dates li {
  list-style-type: none;
}

.text p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .events .flex {
    display: block;
  }
  .events p {
    width: 100%;
  }

  .text,
  .dates {
    margin: 0 auto;
  }
  .dates {
    margin-top: 1rem;
  }
}
