.preOrder {
  width: 70%;
  margin: 0 auto;
}

.preOrder .flex {
  display: flex;
  /* align-items: center; */
}

.shirtPreorder img {
  width: 20vw;
  border: 3px solid rgb(229, 189, 103);
}

.preOrder .flex div {
  width: 50%;
}

.preOrder .flex ul {
  margin-top: 2rem;
  padding: 0;
  width: 50%;
}
.preOrder .flex ul li {
  text-align: center;
  list-style-type: none;
}

.flex .info {
  text-align: center;
  margin-top: 2%;
}

.flex .info p {
  width: 50%;
  color: white;
  font-weight: bold;
}

.shirtPreorder {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .preOrder .flex {
    display: block;
  }
  .preOrder .flex div {
    width: 100%;
  }
  .preOrder .flex {
    text-align: center;
  }
  .flex .info p {
    width: 50%;
    margin: 5% auto 0 auto;
  }
  .flex .info {
    text-align: center;
  }
  .preOrder .flex ul {
    width: 100%;
  }

  .preOrder img {
    width: 30vw;
  }
}

@media screen and (max-width: 768px) {
  .preOrder img {
    width: 50vw;
  }
}

@media screen and (max-width: 500px) {
  .preOrder .info p {
    width: 100%;
  }
}
