.preOrder {
  width: 60%;
  margin: 0 auto;
}

.preOrder .flex {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.shirtPreorder img {
  width: 28vw;
  /* border: 3px solid rgb(229, 189, 103); */
}

.preOrder .flex div {
  width: 50%;
}

.preOrder .flex ul {
  margin-top: 2rem;
  padding: 0;
  width: 50%;
}
.preOrder .flex ul li {
  text-align: center;
  list-style-type: none;
}

.flex .info {
  text-align: center;
  margin-top: 2%;
  position: relative;
}

.cart {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.cart ul {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemButton {
  width: 40px;
  height: 40px;
  margin: 5px 5px;
  border-radius: 2px;
}

.removeBtn,
.checkoutBtn {
  margin: 5px 3px;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.removeBtn {
  height: 25px;
  /* width: 25px; */
}

.itemButton:hover,
.removeBtn:hover {
  background-color: rgb(73, 73, 73);
}

.checkout {
  /* position: absolute; */
  /* bottom: 0; */
  /* width: 100%; */
  /* left: 0; */
  /* right: 0; */
  margin: 0 auto;
}

.checkoutBtn {
  padding: 8px;
  border: 1px solid rgb(229, 189, 103) !important;
}

.shirtPreorder {
  display: flex;
  justify-content: center;
}

.alert {
  margin: 0 auto;
}

.alert h4 {
  width: 200%;
}

@media screen and (max-width: 1200px) {
  .preOrder .flex {
    display: block;
  }
  .preOrder .flex div {
    width: 100%;
  }
  .preOrder .flex {
    text-align: center;
  }
  .flex .info p {
    width: 50%;
    margin: 5% auto 0 auto;
  }
  .flex .info {
    text-align: center;
  }
  .preOrder .flex ul {
    width: 100%;
  }

  .preOrder img {
    width: 30vw;
  }

  .alert h4 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .preOrder img {
    width: 50vw;
  }
}

@media screen and (max-width: 500px) {
  .preOrder .info p {
    width: 100%;
  }
}
