.about {
  width: 55%;
  margin: 0 auto;
}

.about p {
  color: white;
  /* font-weight: 500; */
}

@media screen and (max-width: 1200px) {
  .about p {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .about {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .about {
    width: 90%;
  }
}
