.donate {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.donate p {
  color: white;
}

@media screen and (max-width: 1200px) {
  /* .donate {
    width: 0%;
  } */
}

@media screen and (max-width: 768px) {
  .donate {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .donate {
    width: 90%;
  }
}
