.galSection {
  width: 100%;
}

h1 {
  text-align: center;
  margin: 2rem;
}

.desktop {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  width: 70%;
  margin: 0 auto;
}

.galCard,
img {
  width: 100%;
}

.mobile {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  width: 85%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .desktop {
    display: none;
  }
}
