.gallery {
  width: 100%;
}

h1 {
  text-align: center;
  margin: 2rem;
}

/* .galCard {
  width: 50px;
} */

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  width: 75%;
  margin: 0 auto;
}

.galCard,
img {
  width: 100%;
}
