* {
  background-color: rgb(0, 0, 0);
  color: rgb(229, 189, 103);
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
}

h1 {
  text-align: center;
  margin: 2rem;
}

section {
  /* border: 1px solid blue; */
  margin-bottom: 75px !important;
}

button {
  background-color: #242021 !important;
  color: rgb(229, 189, 103) !important;
  border: 1px solid rgb(64, 64, 64) !important;
}

/* main orange rgb(229, 172, 50) */
