* {
  background-color: #404042;
  color: #ffcb1e;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
}

/* #404042 - dark grey */
/* #b4b5b9 - light grey */
/* #ffcb1e - yellow */
/* #7f3d98 - purple */

h1 {
  text-align: center;
  margin: 2rem;
}

section {
  /* border: 1px solid blue; */
  margin-bottom: 75px !important;
}

button {
  background-color: black !important;
  color: #ffcb1e !important;
  border: 1px solid rgb(64, 64, 64) !important;
}

/* main orange rgb(229, 172, 50) */
