* {
  background-color: rgb(0, 0, 0);
  color: rgb(229, 189, 103);
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
}

section {
  /* border: 1px solid blue; */
  margin-bottom: 75px !important;
}

/* main orange rgb(229, 172, 50) */
